# vim swap files
*.sw*

# autoconf files
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

# dist files
nurly-module-*.tar.gz
nurly-server-*.tar.gz

# python modules
*.pyc
