Source: nurly
Section: net
Priority: extra
Maintainer: Max Kalika <max@topsy.com>
Build-Depends: debhelper (>= 7), dh-autoreconf, python (>= 2.7), libcurl3-dev
Standards-Version: 3.8.3
X-Python-Version: 2.7

Package: nurly-module
Architecture: amd64
Depends: ${misc:Depends}, nagios3, libcurl3
Description: NEB module to distribute service checks via libcurl

Package: nurly-server
Architecture: any
Depends: ${misc:Depends}, python (>= 2.7)
Description: Pre-forked import-caching python server for the Nurly NEB module
